{% extends 'base.html.twig' %}

{% block body %}
    <style>
        html.majortom {
            background: #1D1B1D;
            overflow: hidden;
            color: #fff;
        }

        select#account_registration_form_country {
            color: #999999 !important;
            padding-left: 10px;
        }

        option:first-child {
            color: #555555 !important;
        }

        div.error-message {
            text-align: center;
        }

        div.error-message li {
            display: block;
        }

        .iconSpan {
            padding-right:14px;
            min-width: 48px;
            max-width: 48px;
        }
    </style>
    <div id="app-container">
        <div class="force-close" data-react-checksum="971418803" data-reactid="1" data-reactroot="" id="container">
            <!-- react-text: 2 --><!-- /react-text -->
            <div data-reactid="3" id="body">
                <div class="login" data-reactid="4" id="auth-container"
                     style="position:absolute;top:50%;transform:translateY(-50%);width:100%">
                    <div data-reactid="5" id="auth-row">
                        <div data-reactid="6" id="auth-cell">
                            <div class="container-fluid" data-reactid="7">
                                <div class="row" data-reactid="8">
                                    <div class="col-xs-collapse-right col-xs-collapse-left col-sm-6 col-md-6 col-sm-offset-3 col-lg-offset-4 col-lg-4 col-xs-10 col-xs-offset-1"
                                         data-reactid="9">
                                        <div class="rubix-panel" data-reactid="10">
                                            <div data-reactid="11">
                                                <div class="rubix-panel-body" data-reactid="12" style="padding:0;">
                                                    <img src="/imgs/common/logo.png"
                                                         style="margin-left:20px;">
                                                    <div>
                                                        <div style="padding:25px;padding-top:0;padding-bottom:0;margin:auto;margin-bottom:25px;margin-top:25px;">
                                                            {% for error in errors %}
                                                                <div class="alert-danger error-message" style="margin-bottom: 2px; padding: 5px;">
                                                                    {{ error.message }}
                                                                </div>
                                                            {% endfor %}
                                                            {{ form_start(form, { 'attr': { 'onsubmit':'return validateForm();'} }) }}
                                                            <div class="form-group">
                                                                <span class="input-group input-group-lg">
                                                                    <span class="input-group-addon iconSpan">
                                                                        <span class="icon-fontello-user-1 rubix-icon"></span>
                                                                    </span>
                                                                    {{ form_widget(form.username) }}
                                                                </span>
                                                            </div>
                                                            <div class="form-group">
                                                                <span class="input-group input-group-lg">
                                                                    <span class="input-group-addon iconSpan">
                                                                        <span class="icon-fontello-mail rubix-icon"></span>
                                                                    </span>
                                                                    {{ form_widget(form.email) }}
                                                                </span>
                                                            </div>
                                                            <div class="form-group">
                                                                <span class="input-group input-group-lg js-password">
                                                                    <span class="input-group-addon iconSpan js-span-password-icon">
                                                                        <span class="icon-fontello-key rubix-icon"></span>
                                                                    </span>
                                                                    {{ form_widget(form.plainPassword.first) }}
                                                                </span>
                                                            </div>
                                                            <div class="form-group">
                                                                <span class="input-group input-group-lg js-password">
                                                                    <span class="input-group-addon iconSpan js-span-password-icon">
                                                                        <span class="rubix-icon icon-fontello-spin3"></span>
                                                                    </span>
                                                                    {{ form_widget(form.plainPassword.second) }}
                                                                </span>
                                                            </div>

                                                            <div class="col-xs-collapse-right text-left col-xs-12"
                                                                 style="margin-top:20px; padding-left: 0px;">
                                                                <div class="col-xs-collapse-right text-center">
                                                                    <button id="submit-button"
                                                                            class="btn-outlined btn btn-lg btn-default"
                                                                            style="min-width: 184px;"
                                                                            type="submit">
                                                                        Register
                                                                    </button>
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-collapse-right text-left col-xs-12"
                                                                 style="margin-top:20px; padding-left: 0px;">
                                                                <div class="col-xs-collapse-left text-center">
                                                                    <a href="/login">Go back to login</a>
                                                                </div>
                                                            </div>

                                                            {{ form_end(form) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div data-reactid="34" id="footer-container">
                <div class="text-center container-fluid" data-reactid="35" id="footer">
                    <div class="row" data-reactid="36">
                        <div class="col-xs-12" data-reactid="37">
                            <div data-reactid="38">
                                <!-- react-text: 39 -->© <!-- /react-text --><!-- react-text: 40 -->2018
                                <!-- /react-text --><!-- react-text: 41 --> fivemetrics.io | <a
                                        href="https://fivemetrics.freshdesk.com" target="_blank">Contact us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="bg-effect bg-with-effect">
        <div id="bg-effect-1"></div>
        <div id="bg-effect-2"></div>
        <div id="bg-effect-3"></div>
    </div>
    <script>
        document.addEventListener("keyup", checkPassword);

        function checkPassword()
        {
            let passSecond = document.querySelector('.js-password-second');

            if (! passSecond.value) {
                return false;
            }

            let formGroups = Array.prototype.slice.call(document.querySelectorAll('.js-password'));

            let right = formGroups.reduce(function(acc, x) {
                let input = x.querySelector("input");
                return (acc.value)
                    ? ({result: (acc.result && input.value === acc.value), value: acc.value})
                    : ({result: true, value: input.value})
            }, {result: true, value: null}).result;

            let iconNewStyle = right ? '' : 'background-color: #E53148 !important;';
            let inputNewStyle = right ? '' : 'border-color: #E53148 !important;';

            formGroups.forEach(function (el) {
                el.querySelector('.js-password-input').setAttribute('style', inputNewStyle);
                el.querySelector('.js-span-password-icon').setAttribute('style', iconNewStyle);
            });

            return right;
        }

        function validateForm()
        {
            let passFirst = document.querySelector('.js-password-first');
            let passSecond = document.querySelector('.js-password-second');

            return ((!!passFirst.value) && (!!passSecond.value) && (checkPassword()));
        }
    </script>
{% endblock %}